@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 248, 250, 252;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

@layer components {
  .btn-whi-primary {
    @apply bg-whi hover:bg-whi-hover text-white px-4 py-2 rounded-md transition-colors font-medium flex items-center gap-2;
  }

  .btn-whi-secondary {
    @apply bg-slate-200 hover:bg-slate-300 text-slate-800 px-4 py-2 rounded-md transition-colors font-medium flex items-center gap-2;
  }
}
